<!--to be filled with posts that will be shown on the web page-->
<html>
    <head>
        <title>Suvi's page </title>
    </head>
<body>
    <div>
        <h1>Suvi's study support</h1>  
    </div>
    <p>Hello sweetheart! Welcome to my page - here you can get help for you studies</p>
    <div>
        <h2><em>
            Best study tips
        </em></h2>
    </div>
    <div>
        <h2>
            <em>
            Motivation posts
            </em>
    </div>
    <div>
            <h2>
              :)      
            </h2>
    </div>
    
    <div>
        </h2>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Studying is extremely important for your future - so keep working on it!</p>
    </div>   
</body>
</html>

