<!--to be filled with posts that will be shown on the web page-->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

{%load static %}

<html>
    <head>
            <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
            <link rel="stylesheet" href="{% static './css/blog.css' %}">
        <title>Suvi's page </title>
    </head>
<body>
    <div class="page-header">
        <h1><a>Suvi's study support</a></h1>  
    </div>
    <p>Hello sweetheart! Welcome to my page - here you can get help for you studies</p>
    <div>
        <h2><em><a>
            Best study tips
        </a></em></h2>
        <p>Studying is extremely important for your future - so keep working on it!</p>
        <p>1. Stay healthy (That includes sleeping enough, eating healthy way and execising.</p>
        <p>2. Have inspiring hobbies and see friend too - that helpes you remain motiveited </p>
        <p>3. Put truely effort to your studies - do not multitask and focus on improving your weaknesses</p>
    </div>
    <div>
        <h2>
            <em>
            <a>
            Motivation posts
            </a>
            </em>
    </div>
    <div>

    </div> 
    <div>
    {% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %} 
</div>
</body>
</html>

